.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  height: 60px;
  width: 90%;
}

.nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
}

.nav button:hover {
  background-color: #f1f2f3;
}

.nav .active {
  background-color: #cacccec7;
}

@media screen and (max-width: 768px) {
  .nav {
    justify-content: center;
  }
  
  .nav button {
    font-size: 14px;
    padding: 20px 10px;
  }
}

  