.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 355px;
  height: 400px;
  padding: 20px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.card h3 {
  text-align: start;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card p {
  font-size: 15px;
  text-align: justify;
}

.description {
  align-items: self-start;
  text-align: start;
  font-size: 12px;
  height: 200px;
}

.cardInfos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 300px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.cardInfos .time {
  font-size: 11px;
}

.cardInfos button {
  color: #fff;
}

.favorite {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: transparent;

}

.favorite img {
  margin-left: 277px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

