.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 355px;
  height: 355px;
  padding: 20px;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.card h3 {
  text-align: start;
  font-size: 15px;
  padding: 10px 0 0 10px;
}

.card p {
  font-size: 12px;
  text-align: justify;
}

.description {
  text-align: start;
  width: 300px;
  height: 300px;
  font-size: 12px;
  text-align: justify;
}

.cardInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}

.favorite {
  display: flex;
  justify-content: flex-end;
  border: none;
  background-color: transparent;

}

.favorite img {
  margin-left: 277px;
  cursor: pointer;
  width: 15px;
  height: 15px;
}