.cardsContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 90%;
  padding: 20px;
}

.buttonMoreNews {
  color: #026932ce;
  cursor: pointer;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 1.6 px;
  text-align: center;
  margin-bottom: 20px;
  height: 60px;
  width: 220px;
}