* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #f1f2f3;
}

a {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black;
  font-weight: 550;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  background-color: #05d465;
  padding: 10px;
}

a:hover {
  background-color: #03ee70;
}

p {
  text-align: justify;
}